body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-image: url('sea-6811812_1280.jpg');
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    max-width: 500px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    backdrop-filter: blur(10px);
}

h1 {
    color: #F1F1F1;
    font-size: 2rem;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 12px;
    font-size: 16px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #fff;
    background-color: rgba(83, 65, 65, 0.2);
    color: #fff;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

input[type="text"]:focus {
    outline: none;
    border-color: #00BFFF;
    background-color: rgba(255, 255, 255, 0.3);
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #00BFFF;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #009ACD;
}

#datosClima {
    margin-top: 20px;
    font-size: 18px;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
}
